/*  variables   */

@font-face {
  font-family: "neue_montrealregular";
  src: url("../assets/fonts/neuemontreal-regular-webfont.woff2") format("woff2"),
    url("..assets/fonts/neuemontreal-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gangsarregular";
  src: url("../assets/fonts/gangsar_regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/gangsar_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "quebectrial";
  src: url("../assets/fonts/quebec-trial-webfont.woff2") format("woff2"),
    url("../assets/fonts/quebec-trial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ambrotyperegular";
  src: url("../assets/fonts/ambrotype-webfont.woff2") format("woff2"),
    url("../assets/fonts/ambrotype-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-color: #0f0f0f;
  --primary: #e4e4e4;
  --secondary: #535353;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background-color: var(--bg-color);
  font-family: "neue_montrealregular", sans-serif;
  color: var(--primary);
}

.wrapper-container {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  z-index: 2;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 3em 2em;
}

/*  nav bars  */

.lateral-left-nav {
  position: relative;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 16px;
  color: var(--primary);
  z-index: 1;
}

.item {
  transform: rotate(-90deg);
  margin-bottom: 3em;
}

.lateral-left-nav::after {
  content: "";
  position: relative;
  top: 5%;
  left: 50%;
  transform: translate(-5% -50%);
  width: 1px;
  height: 25%;
  background: var(--primary);
  z-index: 5;
}

/*  nav-links  */

.nav-link {
  position: relative;
  background: none;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  color: var(--primary);
}

.nav-link:after {
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  top: 50%;
  left: 0;
  background-color: var(--primary);
  transition: width 0.4s ease-in-out;
}

.nav-link:hover:after {
  width: 100%;
}

/*  left col  */

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  min-width: 350px;
  padding: 2em 3em;
}

/*  video   */

.video-display {
  width: 100%;
  min-width: 350px;
  background: linear-gradient(0deg, #1a1a1a 0%, var(--bg-color) 22%, #0c0c0c);
  height: auto;
  min-height: 220px;
}

.video-display video {
  position: relative;
  width: 100%;
  height: auto;
}

/*  work box   */

.about-work {
  width: 85%;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: end;
  z-index: 1;
}

.about-work h2 {
  font-family: "gangsarregular";
  font-size: 2em;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  z-index: -4;
}

.about-work p {
  font-size: 16px;
  text-align: justify;
  line-height: 1.7;
  padding-top: 2em;
}

.about-work:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: O;
  background: var(--bg-color);
}

.about-work p {
  opacity: 0;
  z-index: 2;
}

/*  right section   */

.projects-list {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;

  padding: 6em 3em;
  gap: 2em;
  justify-content: start;
  position: relative;
  text-transform: uppercase;
  font-weight: lighter;
  opacity: 1;
  filter: blur(10px);
}

.projects-list .project:hover .title {
  transform: skewX(-10deg) translateX(20px);
}

.projects-list .title {
  font-size: 5.5em;
  transition: transform 0.3s ease;
  font-family: "quebectrial";
  cursor: pointer;
  color: #ffffff;
}

.projects-list .info {
  font-family: Montserrat, sans-serif;
  padding-left: 1.5em;
}

/*  HEADER 404  */

.header404 {
  position: relative;
  width: 80%;
  height: 100%;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2em 6em;
}

.header404::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  height: 25%;
  width: 100%;
  background: var(--bg-color);
}

.header404 h1 {
  font-size: 20em;
  font-family: "gangsarregular";
  letter-spacing: 10px;
  position: relative;
  z-index: 1;
  opacity: 0;
}

.header404 h3 {
  font-size: 2em;
  font-family: "gangsarregular";
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.header404 .content {
  background: var(--bg-color);
  z-index: 2;
  height: 20%;
}

/*  Responsive   */

@media screen and (max-width: 1150px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  /* R nav bars  */

  .lateral-left-nav {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: right;
    padding: 0;
    position: relative;
  }

  .item {
    transform: rotate(0deg);
    margin-bottom: 0em;
    margin-left: 3em;
  }

  .lateral-left-nav::after {
    content: "";
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20% -50%);
    height: 1px;
    width: 25%;
  }

  /* R left col  */

  .left-section {
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: 100px;
    padding: 0;
  }

  /* R video   */

  .video-display {
    width: 100%;
    min-width: 410px;
    min-height: 300px;
  }

  .video-display video {
    position: relative;
    width: 100%;
    height: auto;
  }

  /* R work box   */

  .about-work {
    width: 100%;
    height: auto;
  }

  /* R right section   */

  .projects-list {
    width: 100%;
    height: auto;
    padding: 8em 2em;
    gap: 2em;
  }

  .projects-list .title {
    font-size: 4em;
    transition: transform 0.3s ease;
    font-family: "quebectrial";
    cursor: pointer;
    color: #ffffff;
  }

  .projects-list .info {
    font-family: Montserrat, sans-serif;
    padding-left: 1.5em;
  }

  .header404 {
    padding: 0;
  }
}
