/*  variables   */

@font-face {
  font-family: "neue_montrealregular";
  src: url("../assets/fonts/neuemontreal-regular-webfont.woff2") format("woff2"),
    url("..assets/fonts/neuemontreal-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gangsarregular";
  src: url("../assets/fonts/gangsar_regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/gangsar_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-color: #0f0f0f;
  --primary: #e4e4e4;
  --secondary: #535353;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-color);
  font-family: "neue_montrealregular", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.wrapper {
  height: 100vh;
}

/*  wrapper  */

.hero-image-wrapper {
  position: relative;
  flex: 2;
}

.hero-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-image-wrapper .bg-image {
  transform: rotate(-180deg);
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.hero-image-wrapper .front-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
  z-index: 2;
}

.content-wrapper {
  flex: 3;
  background: var(--primary);
  padding: 2em 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*  nav bars  */

nav {
  width: 100%;
  display: flex;
  font-size: 16px;
  align-items: flex-end;
  position: relative;
}

nav::after {
  content: "";
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translate(-20% -50%);
  width: 25%;
  height: 1px;
  background: var(--bg-color);
  z-index: 5;
}

/*  nav-links  */

.nav-link {
  position: relative;
  background: none;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  color: #000000;
  margin-left: 3em;
}

.nav-link:after {
  position: absolute;
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  top: 50%;

  background-color: var(--bg-color);
  transition: width 0.4s ease-in-out;
}

.nav-link:hover:after {
  width: 100%;
}

/*  nav bar main page  */

.content-wrapper .nav-bar-main {
  justify-content: right;
}

/*  header  */

header h1,
header h2 {
  font-family: "gangsarregular", sans-serif;
  letter-spacing: 0.4em;
  margin: 0 0.2em 0;
  text-transform: uppercase;
  font-weight: lighter;
}

header h2 {
  font-size: 3em;
  color: var(--secondary);
}

header h1 {
  font-size: 4em;
}

/*  form wrapper  */

.form-wrapper {
  position: relative;
  margin: 3em 0;
  z-index: 2;
  background: var(--primary);
}

form {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.form-wrapper input {
  background: none;
  border: none;
  outline: none;
  padding: 1em;
  font-size: 16px;
  border-bottom: 2px solid var(--bg-color);
  flex: 1;
}

.form-wrapper input::placeholder {
  color: var(--bg-color);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  font-family: "neue_montrealregular", sans-serif;
}

.form-wrapper button {
  position: relative;
  border: solid 2px var(--bg-color);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--secondary);
  padding: 1.2em 3em;
  overflow: hidden;
  z-index: 1;
}

.form-wrapper button::after {
  position: absolute;
  background: #ffffff;
  z-index: -2;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
}

.form-wrapper button::before {
  background: var(--secondary);
  z-index: -1;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(20deg);
  width: 150%;
  height: 0%;
  transition: all 0.8s ease;
}

.form-wrapper button:hover {
  color: #ffffff;
}
.form-wrapper button:hover::before {
  height: 200%;
}

textarea {
  width: 100%;
  height: 60px;
  overflow-y: scroll;
  background: none;
  border: none;
  outline: none;
  padding: 1em;
  font-size: 16px;
  border-left: 2px solid var(--bg-color);
  resize: none;
}

textarea::placeholder {
  color: var(--bg-color);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  font-family: "neue_montrealregular", sans-serif;
}
.form-wrapper p {
  padding: 2em 0;
  width: 300px;
  font-size: 15px;
  line-height: 1.5;
  color: var(--secondary);
  text-align: justify;
}

/*  about wrapper  */

.about-wrapper {
  position: relative;
  margin-top: 5em;
  z-index: 2;
  background: var(--primary);
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 1.5em;
}

.about-wrapper::after,
.about-wrapper::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  transition: all 0.4s ease-in-out;
}

.about-wrapper::after {
  border-bottom: #000000 2px solid;
  border-right: #000000 2px solid;
  bottom: 4px;
  right: 4px;
}

.about-wrapper::before {
  border-left: #000000 2px solid;
  border-top: #000000 2px solid;
  top: 4px;
  left: 4px;
}

.about-wrapper:hover::before {
  top: 0px;
  left: 0px;
  box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.1);
}

.about-wrapper:hover::after {
  bottom: 0px;
  right: 0px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.about-wrapper h3 {
  position: relative;
  font-size: 2em;
  color: var(--secondary);
  font-weight: lighter;
  text-transform: uppercase;
  z-index: 1;
}

.about-wrapper p {
  color: var(--bg-color);
  font-size: 15px;
  text-align: justify;
  line-height: 1.5;
}

/*  overlay animations  */

header .h1,
header .h2 {
  position: relative;
}

header h1,
header h2 {
  position: relative;
  top: 250px;
}

.header-revealer::after {
  content: "";
  position: absolute;
  top: 120px;
  left: 0px;
  width: 800px;
  height: 120px;
  margin: 0 auto;
  z-index: 0;
}

.hero-image-wrapper,
.content-wrapper,
.front-img {
  overflow: clip;
  clip-path: inset(0px 0 0 0);
}

/*  ___RESPONSIVES___  */

@media screen and (max-width: 890px) {
  header h1,
  header h2 {
    letter-spacing: 0.3em;
  }
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .hero-image-wrapper .front-img {
    width: 300px;
    height: 400px;
  }

  .content-wrapper nav {
    font-size: 14px;
    margin-bottom: 3em;
  }

  header h2 {
    font-size: 2.5em;
  }

  header h1 {
    font-size: 4em;
  }

  .form-wrapper input {
    font-size: 15px;
  }

  .form-wrapper input::placeholder {
    font-size: 15px;
  }

  .form-wrapper button {
    font-size: 13px;
  }

  textarea {
    height: 50px;
    font-size: 15px;
  }

  textarea::placeholder {
    font-size: 15px;
  }
  .form-wrapper p {
    font-size: 14px;
    line-height: 1.3;
  }
}

@media screen and (max-width: 450px) {
  form {
    width: 100%;
  }
}
